@charset "utf-8";


/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5; 
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: flex;
  flex-flow: column;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: row wrap;
  justify-content: center
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #fff;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 0px;
  width: 100%;
  background-color: #ccc;
}

.open {
  height: 400px !important;
}

#mapButton {
  background-color: #ffffff;
  border: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: center;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {

}
.inside #map-container {

 
}
.inside #map {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-height: 700px;
  max-width: 100%;
}
.inside #footer {
  bottom: 0;
  
  max-width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  display: flex;
  flex-flow: column;
  
}
#restaurant-img {

 max-width: 800px;
}
#restaurant-address {
  display: flex;
  flex-flow: column;
  text-align: center;
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  color:#f58500;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;

}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#restaurant-container {
  align-items: center;
}

#reviews-container {
  padding: 30px 40px 80px;
  max-width: 50%;
  margin: 0 auto;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  max-width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
  display: flex;
  flex-flow: column wrap;
  padding-top: 8px;
}
#restaurant-hours {
  display: flex;
  flex-flow: row nowrap;
  
  
}

tr,td {
  display: flex;
  flex-flow: column;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background-color:#ffffff;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
}

.skip-link:focus {
  top: 0px;
}


a.progressive {
  border: none !important;
  background-color:#ffffff !important;
  display: flex !important;
  flex-flow: column !important;
}
/*
Indexed DB database CSS

.message {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  display: none;
  padding: 15px;
}

.warn {
  background: #FF9800;
}

.error {
  background: #F44336;
}

.success {
  background: #4CAF50;
}

.container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 5px 0;
}
*/



@media screen and (min-width:1900px) {
   .container {
    width: 1900px;
    margin-left: auto;  
    margin-right: auto;
}
  nav {
    width: 1900px;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (max-width: 840px) {
  #restaurants-list li {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

  #restaurant-hours {
    display: flex;
    flex-direction: column;
  }
  .filter-options {
    display: flex;
    flex-flow: column;
    height: 115px;
  }

  .filter-options h2 {
    margin-top: 3px;
  }
 
}

@media screen and (min-width: 200px) and (max-width: 485px) { 
  #restaurants-list li {
    width: 70vw;
  }
}

